.Offers {
  flex: 1 100%;
  display: flex;
  flex-flow: wrap;
  color: #2c3e50;
  margin-bottom: 4.1875rem;

  &__balance {
    margin-left: auto;
  }

  &__offer {
    flex: 1 1 24%;
    max-width: 24%;
    min-width: 15rem;
    padding: 1.25rem;
    box-sizing: border-box;
    margin: 0 1% 0.875rem 0;
    box-shadow: 5px 5px 0px 0px rgba(181, 181, 181, 0.39);
    background-color: rgba(236, 240, 241, 0.7);
    &:last-child {
      margin-right: 0;
    }
  }
  &__header {
    font-size: 1.125rem;
    flex: 1 1 100%;
    align-items: flex-end;
    display: inline-flex;
  }

  &__name {
    font-size: 1.125rem;
    font-weight: 500;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: 300;
    opacity: 0.75;
  }

  &__price {
    font-size: 0.875rem;
    font-weight: 500;
    color: #1c2935;
  }

  &__button {
    background: #e74c3c;
    color: white;
    padding: 0.3125rem 1.75rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    opacity: 1;
    &:hover {
      background: rgba(203, 67, 53, 0.99);
    }
  }
}
